{% extends 'base.html' %}


{% block title %}Товар | VATA SHOP {% endblock %}

{% block content %}
<!-- wrapper -->
<div id="wrapper" >
    {% if cart.item | length > 0 %}
    <div class="container cart__container" >
        <div class="row" >
            <div class="col-md-8 rex-padding-left" >
                <div class="blogContainer">
                    <div class="gutter-sizer"></div>
                    {% for key, it in cart.item.items() %}
                    <article id="item_{{ key }}" class="blog-column-one">
                        <div class="blog-minimal">
                            <div class="col-md-2">
                                <a href="/item/00{{it.id}}/">
                                    <div class="post-intro">
                                        <img src="{{ it.img }}" width="200" alt="{{ it.name }}">
                                    </div>
                                </a>

                            </div>
                            <div class="col-md-5">
                                <h2 class="entry-title">
                                    <a href="single-post.html" rel="bookmark">{{ it.name}}</a>
                                </h2>
                                <div class="post-details">
                                    <div class="post-date">
                                        <p>
                                            <span id="{{ key }}_quantity">{{ it.quantity}}</span>
                                            &nbsp;x&nbsp;
                                            <span>{{ it.price }}</span>
                                            &nbsp;&#8381;
                                        </p>
                                    </div>
                                    <div class="post-button"><span id="{{ key }}_summary">{{ it.summary}}</span>&nbsp;&#8381;
                                    </div>

                                </div>
                                <div class="post-info">
                                    <div class="post-date"><a href="#">
                                        <i class="fa fa-times" aria-hidden="true"></i>&nbsp;удалить
                                    </a>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-2">
                                <form method="get" class="cart cart-carousel"
                                      enctype="multipart/form-data" style="margin-top:40px;">
                                    <div class="shop-qty change-qty">
                                        <button class="minus">-</button>
                                        <input id="name" class="hidden-name" type="hidden" name="name"
                                               value="{{ key }}">
                                        <input id="qty"
                                               type="number"
                                               class="input-text qty text"
                                               step="1"
                                               min="-1" max="20"
                                               name="qty"
                                               value="{{ it.quantity }}"
                                               title="Qty"
                                               size="4"
                                               placeholder="">
                                        <button class="plus">+</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </article>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4 rex-padding-left">
                <div class="sidebar " id="container__total">
                    <div class="recent-posts sidebar-box  order-side-box">
                        <div class="total-side-bar">
                            {% for item_id, item in cart.item.items() %}
                            <p>
                                <span>{{ item.name }}
                                </span>
                                <span><b id="{{ item_id }}__summary">{{ item.summary }}
                                </b>&nbsp;&#8381;
                                </span>
                            </p>
                            {% endfor %}
                            <hr>
                            <p>
                                <span style="font-size: 1.1rem;">Стоимость заказа
                                </span>
                                <span>
                                    <b style="font-size: 1.1rem;font-weight:600;" id="cart__total">
                                    {{ cart.total }}
                                    </b>&nbsp;&#8381;
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="product-single-info   sidebar-box" style="width:100%;">
                        <form action="#" method="get" id="search-bar"
                              class="search-widget form-inline" role="form">
                            <div class="input-group">
                                <button type="submit" class="button-product" style="width:100%;">заказать</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% else %}
    <div class="parallax" style="height:300px; margin-top:-50px;background-image: url(/assets/images/paralax/paralax_2.jpg)">
        <div class="info">
            <i style="text-shadow:2px 2px 4px rgb(0,0,0,0.4);" class='fa fa-shopping-cart fa-4x' aria-hidden='true'></i>
            <h4 style="margin-top:20px;  text-shadow:2px 2px 7px rgb(0,0,0,0.4)">Корзина пуста</h4>
        </div>
    </div>
    {% endif %}
</div>
<!-- /wrapper -->
{% endblock %}