{% extends 'base.html' %}


{% block title %}Каталог | VATA SHOP {% endblock %}

{% block content %}
<!-- wrapper -->
<div id="wrapper">

        <!-- parallax -->
<!--        <div class="parallax" style="background-image: url(assets/images/parallax-3.jpg);">-->
<!--            <div class="info">-->
<!--                <h2 data-in-effect="fadeIn">Minimal Shop</h2>-->
<!--            </div>-->
<!--        </div>-->
        <!-- /parallax -->

         <div style="margin-top: 60px; margin-bottom: 10px;">
          <div class="container">
            <div class="row">
              <div class="col-md-9">
                  <h1 class="page-title">Shop</h1>
                  <p class="shop-result-count">
                      Showing 1-9 of 15 results</p>
                  <form class="shop-ordering" method="get">
                      <select class="orderby" name="orderby">
                          <option selected='selected' value="menu_order">Default sorting</option>
                          <option value="popularity">Sort by popularity</option>
                          <option value="rating">Sort by average rating</option>
                          <option value="date">Sort by newness</option>
                          <option value="price">Sort by price: low to high</option>
                          <option value="price-desc">Sort by price: high to low</option>
                      </select>
                  </form>
                  <div id="grid-shop" class="cbp shop-products">

                          <!-- product 1 -->
                          <div class="cbp-item product">
                                  <a class="product-images" href="single-product.html">
                                      <div class="shop-first-image">
                                          <img alt="image" src="assets/images/shop-product-1.jpg" />
                                      </div>
                                  </a>
                                  <div class="shop-product-details">
                                      <div class="shop-product-details-container">
                                          <h4 class="shop-product-title">
                                              <a href="single-product.html">Bag</a>
                                          </h4>
                                              <div class="star-rating">
                                                  <span style="width:80%">Rated
                                                      <strong class="rating">4.00</strong>
                                                      out of 5</span>
                                              </div>
                                              <span class="shop-price">
                                                  <span>$</span>35.00</span>
                                            <div class="shop-button-box">
                                              <a class="button-product" href="#">Add to cart</a>
                                            </div>
                                      </div>
                                  </div>
                          </div>
                          <!-- /product 1 -->

                          <!-- product 2 -->
                          <div class="cbp-item product">
                                  <a class="product-images" href="single-product.html">
                                      <div class="shop-first-image">
                                          <img alt="image" src="assets/images/shop-product-2.jpg" />
                                      </div>
                                      <div class="shop-second-image">
                                          <img alt="image" src="assets/images/shop-product-2-2.jpg" />
                                      </div>
                                  </a>
                                  <div class="shop-product-details">
                                      <div class="shop-product-details-container">
                                          <h4 class="shop-product-title">
                                              <a href="single-product.html">Belt</a>
                                          </h4>
                                              <div class="star-rating">
                                                  <span style="width:100%">Rated
                                                      <strong class="rating">5.00</strong>
                                                      out of 5</span>
                                              </div>
                                              <span class="shop-price">
                                                  <span>$</span>9.00</span>
                                            <div class="shop-button-box">
                                              <a class="button-product" href="#">Add to cart</a>
                                            </div>
                                      </div>
                                  </div>
                          </div>
                          <!-- /product 2 -->

                          <!-- product 3 -->
                          <div class="cbp-item product">
                                  <a class="product-images" href="single-product.html">
                                      <div class="shop-first-image">
                                          <img alt="image" src="assets/images/shop-product-3.jpg" />
                                      </div>
                                      <div class="shop-second-image">
                                          <img alt="image" src="assets/images/shop-product-3-2.jpg" />
                                      </div>
                                  </a>
                                  <div class="shop-product-details">
                                      <div class="shop-product-details-container">
                                          <h4 class="shop-product-title">
                                              <a href="single-product.html">Blade</a>
                                          </h4>
                                              <div class="star-rating">
                                                  <span style="width:80%">Rated
                                                      <strong class="rating">4.00</strong>
                                                      out of 5</span>
                                              </div>
                                              <span class="shop-price">
                                                  <span>$</span>35.00</span>
                                            <div class="shop-button-box">
                                              <a class="button-product" href="#">Add to cart</a>
                                            </div>
                                      </div>
                                  </div>
                          </div>
                          <!-- /product 3 -->

                          <!-- product 4 -->
                          <div class="cbp-item product">
                                  <a class="product-images" href="single-product.html">
                                      <div class="shop-first-image">
                                        <span class="onsale">Sale!</span>
                                          <img alt="image" src="assets/images/shop-product-4.jpg" />
                                      </div>
                                  </a>
                                  <div class="shop-product-details">
                                      <div class="shop-product-details-container">
                                          <h4 class="shop-product-title">
                                              <a href="single-product.html">Boots</a>
                                          </h4>
                                              <div class="star-rating">
                                                  <span style="width:90%">Rated
                                                      <strong class="rating">4.50</strong>
                                                      out of 5</span>
                                              </div>
                                              <span class="shop-price">
                                                  <span>$</span>2.00</span>
                                            <div class="shop-button-box">
                                              <a class="button-product" href="#">Add to cart</a>
                                            </div>
                                      </div>
                                  </div>
                          </div>
                          <!-- /product 4 -->

                          <!-- product 5 -->
                          <div class="cbp-item product">
                                  <a class="product-images" href="single-product.html">
                                      <div class="shop-first-image">
                                          <img alt="image" src="assets/images/shop-product-5.jpg" />
                                      </div>
                                      <div class="shop-second-image">
                                          <img alt="image" src="assets/images/shop-product-5-2.jpg" />
                                      </div>
                                  </a>
                                  <div class="shop-product-details">
                                      <div class="shop-product-details-container">
                                          <h4 class="shop-product-title">
                                              <a href="single-product.html">Brush</a>
                                          </h4>
                                              <div class="star-rating">
                                                  <span style="width:60%">Rated
                                                      <strong class="rating">3.00</strong>
                                                      out of 5</span>
                                              </div>
                                              <span class="shop-price">
                                                  <span>$</span>9.00</span>
                                            <div class="shop-button-box">
                                              <a class="button-product" href="#">Add to cart</a>
                                            </div>
                                      </div>
                                  </div>
                          </div>
                          <!-- /product 5 -->

                          <!-- product 6 -->
                          <div class="cbp-item product">
                                  <a class="product-images" href="single-product.html">
                                      <div class="shop-first-image">
                                          <img alt="image" src="assets/images/shop-product-6.jpg" />
                                      </div>
                                  </a>
                                  <div class="shop-product-details">
                                      <div class="shop-product-details-container">
                                          <h4 class="shop-product-title">
                                              <a href="single-product.html">Electric razor</a>
                                          </h4>
                                              <div class="star-rating">
                                                  <span style="width:60%">Rated
                                                      <strong class="rating">3.00</strong>
                                                      out of 5</span>
                                              </div>
                                              <span class="shop-price">
                                                  <span>$</span>15.00</span>
                                            <div class="shop-button-box">
                                              <a class="button-product" href="#">Add to cart</a>
                                            </div>
                                      </div>
                                  </div>
                          </div>
                          <!-- /product 6 -->


                  </div>
             
                <!-- ajax load button -->
                <div class="load-more text-center">
                    <a href="ajax-content/loadMore-Shop.html" class="cbp-l-loadMore-link" rel="nofollow">
                        <span class="cbp-l-loadMore-defaultText">Load more</span>
                    <span class="cbp-l-loadMore-loadingText"><i class="fas fa-spinner fa-spin"></i>Load more</span>
                    <span class="cbp-l-loadMore-noMoreLoading">No More Products</span>
                    </a>
                </div>
                <!-- /ajax load button -->

                </div>

                      <div class="col-md-3 rex-padding-left">
                          <div class="sidebar">
                              <div class="sidebar-box">
                                  <h1 class="sidebar-title">Product categories</h1>
                                  <ul class="product-categories">
                                      <li>
                                          <a href="#">Albums</a>
                                      </li>
                                      <li>
                                          <a href="#">Clothing</a>
                                      </li>
                                      <li>
                                          <a href="#">Hoodies</a>
                                      </li>
                                      <li>
                                          <a href="#">Music</a>
                                      </li>
                                      <li>
                                          <a href="#">Posters</a>
                                      </li>
                                      <li>
                                          <a href="#">Singles</a>
                                      </li>
                                      <li>
                                          <a href="#">Uncategorized</a>
                                      </li>
                                  </ul>
                              </div>
                              <div class="sidebar-box">
                                  <h1 class="sidebar-title">Top rated products</h1>
                                  <ul class="sidebar-product-list">
                                      <li>
                                          <a href="single-product.html">
                                              <img alt="image" src="assets/images/sidebar-product-1.jpg" />
                                              <span class="product-title">Headphones</span>
                                          </a>
                                          <div class="star-rating">
                                              <span style="width:100%">Rated
                                                  <strong class="rating">5.00</strong>
                                                  out of 5</span>
                                          </div>
                                          <span class="shop-price">
                                              <span>$</span>9.00
                                          </span>
                                      </li>
                                      <li>
                                          <a href="single-product.html">
                                              <img alt="image" src="assets/images/sidebar-product-2.jpg" />
                                              <span class="product-title">Blade</span>
                                          </a>
                                          <div class="star-rating">
                                              <span style="width:93.4%">Rated
                                                  <strong class="rating">4.67</strong>
                                                  out of 5</span>
                                          </div>
                                          <span class="shop-price">
                                              <span>$</span>35.00</span>
                                      </li>
                                      <li>
                                          <a href="single-product.html">
                                              <img alt="image" src="assets/images/sidebar-product-3.jpg" />
                                              <span class="product-title">Small brush</span>
                                          </a>
                                          <div class="star-rating">
                                              <span style="width:90%">Rated
                                                  <strong class="rating">4.50</strong>
                                                  out of 5</span>
                                          </div>
                                          <span class="shop-price">
                                              <span>$</span>35.00</span>
                                      </li>
                                      <li>
                                          <a href="single-product.html">
                                              <img alt="image" src="assets/images/sidebar-product-4.jpg" />
                                              <span class="product-title">Boots</span>
                                          </a>
                                          <div class="star-rating">
                                              <span style="width:90%">Rated
                                                  <strong class="rating">4.50</strong>
                                                  out of 5</span>
                                          </div>
                                          <del>
                                              <span class="shop-price">
                                                  <span>$</span>3.00</span>
                                          </del>
                                          <ins>
                                              <span class="shop-price">
                                                  <span>$</span>2.00</span>
                                          </ins>
                                      </li>
                                      <li>
                                          <a href="single-product.html">
                                              <img alt="image" src="assets/images/sidebar-product-5.jpg" />
                                              <span class="product-title">Brush</span>
                                          </a>
                                          <div class="star-rating">
                                              <span style="width:80%">Rated
                                                  <strong class="rating">4.00</strong>
                                                  out of 5</span>
                                          </div>
                                          <span class="shop-price">
                                              <span>$</span>3.00</span>
                                      </li>
                                  </ul>
                          </div>
                      </div>
                   </div>
                 </div>
              </div>
            </div>
</div>
<!-- /wrapper --> 
{% endblock %}