<div class="fixed-bottom-bar">
    <div class="container">
        <div class="row d-flex bg-light">
            <div class="col-md pr-4 d-flex topper align-items-center">
                <button id="HereAtHome" onclick="changeColor('HereAtHome')" class="color-button" style="padding: 5px;">Here at home</button>
                <span  style="background-color: #647C90;"       class="color-button"></span>
                <span  style="background-color: #E2DED0;"       class="color-button"></span>
                <span  style="background-color: #4E4F50;"       class="color-button"></span>
                <span  style="background-color: #746C70;"       class="color-button"></span>
            </div>
            <div class="col-md pr-4 d-flex topper align-items-center">
                 <button id="SoftSlipper" onclick="changeColor('SoftSlipper')" class="color-button"  style="padding: 5px;">Soft Slippers</button>
                <span  style="background-color: #B4AAA9;"       class="color-button"></span>
                <span  style="background-color: #F9FAFF;"       class="color-button"></span>
                <span  style="background-color: #EFC9B4;"       class="color-button"></span>
                <span  style="background-color: #FFF0E0;"       class="color-button"></span>
            </div>
            <div class="col-md pr-4 d-flex topper align-items-center">
                <button id="RoomOfComfort" onclick="changeColor('RoomOfComfort')" class="color-button"  style="padding: 5px;">Room Of Comfort</button>
                <span  style="background-color: #E7D3CC;"       class="color-button"></span>
                <span  style="background-color: #EEEDE9;"       class="color-button"></span>
                <span  style="background-color: #878A8F;"       class="color-button"></span>
                <span  style="background-color: #B9B6BD;"       class="color-button"></span>
            </div>
            <div class="col-md pr-4 d-flex topper align-items-center">
                 <button id="RocksAndBarefoot" onclick="changeColor('RocksAndBarefoot')" class="color-button"  style="padding: 5px;">Rocks & Barefoot</button>
                <span  style="background-color: #BCC3CB;"       class="color-button"></span>
                <span  style="background-color: #EEE8DC;"       class="color-button"></span>
                <span  style="background-color: #CCB0A5;"       class="color-button"></span>
                <span  style="background-color: #DBD2CB;"       class="color-button"></span>
            </div>
        </div>
    </div>
</div>