{% extends 'base.html' %}


{% block title %}Каталог | VATA SHOP {% endblock %}

{% block content %}
<!-- wrapper -->
<div id="wrapper">

    <!-- parallax -->
    <div class="catalog-parallax"
         style="margin-top:-70px; background-image: url(/assets/images/paralax/paralax_1.jpg);">
        <div class="info catalog-parallax-info">
            <h2 data-in-effect="fadeIn" style="text-align: center;
            font-size: 3.1em;font-weight:900;text-shadow:0 0 5px #000;">VATA SHOP
            </h2>
        </div>
    </div>
    <!-- /parallax -->


    <div class="container" style="margin-top:50px;">
        <div class="row">
            <div id="catalog-container" class="col-lg-10 offset-lg-1 ">
                <h1 class="page-title">Избранное </h1>

                <div class="row">
                    <p class="shop-result-count">

                    </p>


                </div>
                {% if products %}
                <div id="catalog-item-list" class="row" style="margin-top:20px;">

                    {% for item_id, item in products.items() %}
                    <!-- product 1 -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="card mb-2 product">
                            <a class="product-images" href="/item/00{{item.id}}">
                                <div class="shop-first-image">
                                    <img src="{{ item.img }}" alt="{{ item.title| capitalize }}" />
                                </div>

                            </a>

                            <div class="card-body">
                                <h5 class="card-title">{{ item.title| capitalize }}</h5>
                                <p class="card-text"></p>
                                <small class="text-muted">{{ item.date }}</small>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>
                 {% endif %}
            </div>
        </div>
    </div>

</div>
<!-- /wrapper -->
{% endblock %}