{% extends 'base.html' %}


{% block title %}Товар | VATA SHOP {% endblock %}

{% block content %}
<!-- wrapper -->    
<div id="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="product-single-image">
                    <div class="ProductCard-photo" >
                        <img src="{{ product.main_image }}" alt="{{ product.title }}" />
                    </div>
                    <div class="ProductCard-picts">
                        {% for img in product.rest_image %}
                        {% if loop.first %}
                         <a  style="border-radius:10px;" class="ProductCard-pict ProductCard-pict_ACTIVE"
                           href="{{ img }}">
                            <img src="{{ img }}" alt=""/>
                        </a>
                        {% else %}
                        <a  style="border-radius:10px;" class="ProductCard-pict" href="{{ img }}">
                            <img src="{{ img }}" alt="{{ img }}"/>
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="product-single-info">
                    <span class="shop-price" style="font-size:60px"><span>&#8381&ensp;</span>{{ product.price }}.00
                    </span>
                    <h3 class="product-single-title">{{ product.title }}
                    </h3>
                    <div class="star-rating">
                        <span style="width:90%">Rated
                              <strong class="rating">4.50
                              </strong>out of 5
                          </span>
                    </div>
                    <div class="product-single-description">
                        <p>{{ product.description|truncate(300, False, '...', 0) }}<a href="#description">подробно</a>
                        </p>
                    </div>

                    <form id="ajax-add-cart-form" class="cart" method="post" enctype="multipart/form-data"
                          style="margin-top:40px; ">
                        <div class="shop-qty">
                            <button class="minus">-</button>
                            <input id="name" type="hidden" name="name" value="{{ product.id }}">

                            <input id="quantity" type="number" class="input-text qty text" step="1" min="-1" max="20"
                                   name="quantity"
                                   value="1" title="Qty" size="4" placeholder="">
                            <button class="plus">+</button>
                        </div>
                        {% if in_cart %}
                        <button type="submit" name="add-to-cart" class="button-product">{{ in_cart }} в корзинe</button>
                        {% else %}
                        <button type="submit" name="add-to-cart" class="button-product">В корзину</button>
                        {% endif %}
                    </form>
                </div>

                <div class="product-single-box-detail">
                    <p><span>общий вес, г</span><span>{{product.weight}}</span></p>
                    <p><span>материал</span><span>{{product.material}}</span></p>
                    <p><span>размеры, мм</span><span>{{product.size.width}} X {{product.size.height}} X {{product.size.length}}</span></p>
                    <p><span>место размещения</span><span>{{product.place_operation|join(', ') }}</span></p>
                    <p><span>цвета</span><span>
                        {% for key,value in product.colors|items %}
                        <a title="{{ value }}" href="" class="colors"
                           style="box-shadow:2px 2px 2px rgb(0,0,0,0.3);
                                 border-radius:20%;
                                 padding:15px;
                                 margin-right:10px;
                                 margin-bottom: 10px;
                                 background-color:{{ key }};"></a>
                        {% endfor %}</span></p>
                    <p><span>*По вашему желанию можно выбрать цвет из каталога RAL</span></p>
                </div>
                    <div id="description" class="product-single-box">
                    <h2>Описание</h2>
                    {{ product.description }}
                </div>
                     <div  class="product-single-box">
                    {% for hashtag in product.hashtags %}
                    <span>#</span>&nbsp;{{ hashtag }}&emsp;
                         {% endfor %}
                </div>

                <!--RELATED ITEMS -->
                <div class="product-related-products">
                    <h3 class="product-single-title">Похожие товары</h3>
                    <div class="shop-products shopContainer columns-3">
                        <div class="gutter-sizer"></div>
                        {% for item_id, item in all_products.items() %}
                        {% if item.category == product.category %}
                        <div class="product">
                            <a class="product-images" href="/item/{{ item_id }}">
                                <div class="shop-first-image">
                                    <img alt="image" src="{{ item.main_image }}" />
                                </div>
                                 <div class="shop-second-image">
                                    <img alt="image" src="{{ item.rest_image.1 }}" />
                                </div>
                            </a>
                            <div class="shop-product-details">
                                <div class="shop-product-details-container">
                                    <h4 class="shop-product-title">
                                        <a  href="/item/{{ item_id }}">{{ item.title }}</a>
                                    </h4>
                                    <div class="star-rating">
                                                  <span style="width:80%">Rated
                                                      <strong class="rating">4.00</strong>
                                                      out of 5</span>
                                    </div>
                                    <span class="shop-price">
                                                   <span>&#8381</span>&ensp;{{ item.price }}</span>
                                    <div class="shop-button-box">
                                        <a class="button-product" href="#">Добавить в корзину</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <!--RELATED ITEMS -->
            </div>

            <div class="col-md-3 rex-padding-left">
                <div class="sidebar">
                    <div class="sidebar-box">
                        <h1 class="sidebar-title">Категории</h1>
                        <ul class="product-categories">
                            {% for c in categories %}
                            <li style="font-weight:600">
                                <a href="/catalog/category">{{ c.category }}</a>
                            </li>
                             {% endfor %}
                        </ul>
                    </div>
                    <div class="sidebar-box">
                        <h1 class="sidebar-title">Популярные товары</h1>
                        <ul class="sidebar-product-list">
                            {% for item_id, item in all_products.items() %}
                            <li>
                                <a href="/item/{{ item_id }}">
                                    <img alt="image" src="{{ item.thumbnail }}"/>
                                    <span class="product-title">{{ item.title }}</span>
                                </a>
                                <div class="star-rating">
                                              <span style="width:100%">Rated
                                                  <strong class="rating">5.00</strong>
                                                  out of 5</span>
                                </div>
                                <span class="shop-price">
                                              <span>&#8381</span>&ensp;{{ item.price}}</span>
                            </li>
                             {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /wrapper --> 
{% endblock %}