{% extends 'base.html' %}


{% block title %}Товар | VATA SHOP {% endblock %}

{% block content %}
<!-- wrapper -->    
<div id="wrapper">



    <div class="container">
        <div class="row">

            <div class="col-md-9">
                <div class="product-single-image">
                    <div class="ProductCard-photo" >
                        <img src="{{ data.main_image }}" alt="{{ data.title }}" />
                    </div>
                    <div class="ProductCard-picts">
                        {% for img in data.rest_image %}
                        {% if loop.first %}
                         <a  style="border-radius:10px;" class="ProductCard-pict ProductCard-pict_ACTIVE"
                           href="{{ img }}">
                            <img src="{{ img }}" alt=""/>
                        </a>
                        {% else %}
                        <a  style="border-radius:10px;" class="ProductCard-pict" href="{{ img }}">
                            <img src="{{ img }}" alt="{{ img }}"/>
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="product-single-info">
                    <span class="shop-price" style="font-size:60px"><span>&#8381&ensp;</span>{{ data.price }}.00
                    </span>
                    <h3 class="product-single-title">{{ data.title }}
                    </h3>
                    <div class="star-rating">
                        <span style="width:90%">Rated
                              <strong class="rating">4.50
                              </strong>out of 5
                          </span>
                    </div>
                      <div class="product-single-description">
                          <p>{{ data.description|truncate(300, False, '...', 0) }}<a href="#description">подробно</a>
                        </p>
                      </div>

                    <form class="cart" enctype="multipart/form-data" style="margin-top:40px; ">
                        <div class="shop-qty">
                            <button class="minus">-</button>
                            <input type="number" class="input-text qty text" step="1" min="1" max="" name="quantity"
                                   value="1" title="Qty" size="4" placeholder="" inputmode="numeric">
                            <button class="plus">+</button>
                        </div>
                        <button type="submit" name="add-to-cart" class="button-product">В корзину</button>
                    </form>
                </div>

                    <div class="product-single-box-detail" >
                    <p style="margin:0; text-align: left">общий вес, г</p>
                    <p style="margin:0; text-align: right">{{ data.weight }}</p>
                    <p style="margin:0; text-align: left">материал</p>
                    <p style="margin:0; text-align: right">{{ data.material }}</p>
                        <p style="margin:0; text-align: left">размеры</p>
                    <p style="margin:0; text-align: right">{{ data.size.width}} X {{ data.size.height}} X {{ data.size.length}}</p>
                    <p style="margin:0; text-align: left">место размещения</p>
                    <p style="margin:0; text-align: right">{{ data.place_operation|join(', ') }}</p>
                    <p style="margin:0; text-align: left">цвета</p>
                    <p style="margin:0; text-align: right">
                        {% for key,value in data.colors|items %}
                        <a title="{{ value }}" href="" class="colors"
                              style="background-color:{{ key }}; box-shadow:2px 2px 2px rgb(0,0,0,0.3); border-radius:10%; padding:5px 15px; margin-right:10px;"></a>
                        {% endfor %}
                    </p>
                        <p style="margin:0; text-align: right" ><span>*</span>По вашему желанию можно выбрать цвет из каталога RAL</p>
                </div>

                    <div id="description" class="product-single-box">
                    <h2>Описание</h2>
                    {{ data.description }}
                </div>
                     <div  class="product-single-box">
                    {% for hashtag in data.hashtags %}
                    <span>#</span>&nbsp;{{ hashtag }}&emsp;
                         {% endfor %}
                </div>

                <!--RELATED ITEMS -->
                <div class="product-related-products">
                    <h3 class="product-single-title">Похожие товары</h3>
                    <div class="shop-products shopContainer columns-3">
                        <div class="gutter-sizer"></div>
                        {% for item_id, item in all_products.items() %}
                        {% if item.category == data.category %}
                        <div class="product">
                            <a class="product-images" href="/item/{{ item_id }}">
                                <div class="shop-first-image">
                                    <img alt="image" src="{{ item.main_image }}" />
                                </div>
                                 <div class="shop-second-image">
                                    <img alt="image" src="{{ item.rest_image.1 }}" />
                                </div>
                            </a>
                            <div class="shop-product-details">
                                <div class="shop-product-details-container">
                                    <h4 class="shop-product-title">
                                        <a  href="/item/{{ item_id }}">{{ item.title }}</a>
                                    </h4>
                                    <div class="star-rating">
                                                  <span style="width:80%">Rated
                                                      <strong class="rating">4.00</strong>
                                                      out of 5</span>
                                    </div>
                                    <span class="shop-price">
                                                   <span>&#8381</span>&ensp;{{ item.price }}</span>
                                    <div class="shop-button-box">
                                        <a class="button-product" href="#">Добавить в корзину</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <!--RELATED ITEMS -->
            </div>

            <div class="col-md-3 rex-padding-left">
                <div class="sidebar">
                    <div class="sidebar-box">
                        <h1 class="sidebar-title">Категории</h1>
                        <ul class="product-categories">
                            {% for c in categories %}
                            <li style="font-weight:600">
                                <a href="/catalog/category">{{ c.category }}</a>
                            </li>
                             {% endfor %}
                        </ul>
                    </div>
                    <div class="sidebar-box">
                        <h1 class="sidebar-title">Популярные товары</h1>
                        <ul class="sidebar-product-list">
                            {% for item_id, item in all_products.items() %}
                            <li>
                                <a href="/item/{{ item_id }}">
                                    <img alt="image" src="{{ item.thumbnail }}"/>
                                    <span class="product-title">{{ item.title }}</span>
                                </a>
                                <div class="star-rating">
                                              <span style="width:100%">Rated
                                                  <strong class="rating">5.00</strong>
                                                  out of 5</span>
                                </div>
                                <span class="shop-price">
                                              <span>&#8381</span>&ensp;{{ item.price}}</span>
                            </li>
                             {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /wrapper --> 
{% endblock %}