{% extends 'base.html' %}


{% block title %} {% endblock %}

{% block content %}
<div id="wrapper">
    <div class="container">
        <div class="row" >
            <h1>
              Оформление предзаказа
            </h1>
            <div class="col-lg-5 offset-lg-1 col-12"
                 style="background: var(--one-color); padding: 20px;" >

                <div class="contact-form" style="margin-top: 35px; margin-bottom:20px;">
                    <div class="order-widget">
                        <p class="mini-cart__total total">
                        <strong>Итого:</strong>
                        <span>{{cart.total}}&nbsp;&#8381;</span>
                        </p>
                        <hr>
                        <ul class=" cart_list product_list_widget">
                            {% for key, it in cart.item.items() %}
                            <li>
                                <img alt="{{ it.name }}" src="{{ it.img }}" width="50">{{ it.name }}
                                <p class="quantity">{{ it.quantity }}&nbsp;×&nbsp;<span>{{ it.price }}&nbsp;&#8381;</span>
                                </p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-5  col-12" style="background: var(--one-color); padding:20px;"  >
                <div class="contact-form" style="margin-top: 35px; padding:20px 20px;">
                    <div id="note"></div>
                    <div id="fields" >

                        <form id="ajax-order-form" method="post" action="/send-order">
                            <p><input type="text" name="name" id="name" placeholder="Имя" value="" required/></p>
                            <p><input type="email" name="email" id="email" placeholder="Email" value="" required/></p>
                            <p><input type="text" name="phone" id="phone" placeholder="телефон" value="" required/></p>
                            <p><textarea name="msg" id="msg" placeholder="комментарий к заказу ..."></textarea></p>
                            <p><input class="error" type="checkbox" id="agreement"  name="agreement">
                                <span id="agr_string">согласие на обработку персональной информации</span>
<!--                                <label style="font-size:7px">Нажимая кнопку "Отправить"-->
<!--                                        Вы даёте свое согласие на обработку-->
<!--                                        введенной персональной информации в соответствии-->
<!--                                        с Федеральным Законом №152-ФЗ от 27.07.2006-->
<!--                                        "О персональных данных"-->
<!--                                </label>-->
                            </p>
                            <input type="submit" name="submit" id="submit"  value="отправить предзаказ"/>
<!--                            Соглашаюсь на обработку персональных данных в соответствии с политикой конфиденциальности-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}