{% extends 'base.html' %}


{% block title %} {% endblock %}

{% block content %}
<div id="wrapper">
    <div class="container">
        <div class="row" >
            <div class="col-lg-5 offset-lg-1 col-12"
                 style="background: var(--one-color); padding: 20px;" >

                <div class="contact-form" style="margin-top: 35px; margin-bottom:20px;">
                    <div class="order-widget">
                        <p class="mini-cart__total total">
                        <strong>Итого:</strong>
                        <span>{{cart.total}}&nbsp;&#8381;</span>
                        </p>
                        <hr>
                        <ul class=" cart_list product_list_widget">
                            {% for key, it in cart.item.items() %}
                            <li>
                                <img alt="{{ it.name }}" src="{{ it.img }}" width="50">{{ it.name }}
                                <p class="quantity">{{ it.quantity }}&nbsp;×&nbsp;<span>{{ it.price }}&nbsp;&#8381;</span>
                                </p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-5  col-12" style="background: var(--one-color); padding:20px;"  >
                <div class="contact-form" style="margin-top: 35px; padding:20px 20px;">
                    <div id="note"></div>
                    <div id="fields" >
                        <form id="ajax-order-form" method="post" action="/send-order">
                            <p><input type="text" name="name" id="name" placeholder="Имя" value=""/></p>
                            <p><input type="email" name="email" id="email" placeholder="Email" value=""/></p>
                            <p><input type="text" name="phone" id="phone" placeholder="телефон" value=""/></p>
                            <p><textarea name="msg" id="msg" placeholder="комментарий к заказу ..."></textarea></p>
                            <input type="submit" name="submit" id="submit"  value="отправить предзаказ"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}